body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

.hero {
    background: #4C7CF5;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.go-btn {
    padding: 10px 25px;
    background: white;
    color: #4C7CF5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.time-box {
    margin-top: 20px;
    font-size: 18px;
}

.section {
    padding: 30px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th,
.info-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

.card-container {
    display: grid;
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 5px #ccc;
}

.priority {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
}

.p-low {
    background: green;
}

.p-med {
    background: orange;
}

.p-high {
    background: red;
}

.menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #4C7CF5;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #333;
    padding-top: 60px;
    transform: translateX(-220px);
    transition: 0.3s;
}

.sidebar a {
    color: white;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #555;
}

.sidebar.active {
    transform: translateX(0);
}


/* Info Minggu Ini */

.edit-btn {
    padding: 8px 15px;
    background: #4C7CF5;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 120px auto;
    border-radius: 8px;
}

.popup-content input {
    width: 100%;
    margin-bottom: 12px;
    padding: 7px;
}

.save-btn {
    background: green;
    color: white;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
}

.cancel-btn {
    background: gray;
    color: white;
    padding: 7px 12px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.delete-btn {
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}